# Directorios de build
**/bin/
**/obj/
**/out/

# Base de datos SQLite local
*.db
*.db-shm
*.db-wal

# Visual Studio
.vs/
*.user
*.suo

# Git
.git/
.gitignore
.gitattributes

# Archivos temporales
**/temp/
**/.vscode/
**/.idea/

# Documentación y tests
**/README.md
**/LICENSE